@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-3 taxt-dark mx-auto">Welcome to our website</h1>
        <p class="text-gray-500 mb-0">It looks like you found a website to try on...</p>
    </div>
</div>